/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #041F31;
  color: #BDEBEA;
}

.no-scroll {
  overflow-y: hidden;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.none {
  display: none !important;
}

.container {
  width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1129px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 360px;
  }
}

.btn-contact {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 6px;
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  font-weight: 500;
  color: #252728;
  transition: all 0.2s ease-in;
}
.btn-contact:hover {
  opacity: 0.8;
}
@media (max-width: 767px) {
  .btn-contact {
    padding: 8px 12px;
  }
}
.btn-contact--small {
  width: 200px;
}

.btn-see-projects {
  display: inline-block;
  padding: 18px 15px;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  font-weight: 500;
  color: #252728;
  transition: all 0.2s ease-in;
}
.btn-see-projects:hover {
  opacity: 0.8;
}

.title-1 {
  font-size: 60px;
  font-weight: 600;
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.08;
  letter-spacing: 0.04em;
}

.title-3 {
  font-size: 20px;
  font-weight: 600;
  color: #D9F2F2;
}

.header {
  margin-bottom: 90px;
}
@media (max-width: 1129px) {
  .header {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .header {
    margin-bottom: 30px;
  }
}

.header__row {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .header__row {
    justify-content: flex-end;
  }
}

.ham-menu {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: auto;
}
@media (max-width: 767px) {
  .ham-menu {
    display: block;
  }
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #6f86ff;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 1129px) {
  .nav {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav--footer {
  display: block;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 1129px) {
  .nav__list {
    gap: 60px;
  }
}
@media (max-width: 767px) {
  .nav__list {
    gap: 20px;
  }
}

.nav__list-link {
  font-weight: 500;
  color: #BDEBEA;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .nav__list-link {
    font-size: 14px;
    font-weight: 400;
  }
}

.btn-mobile-nav-open {
  display: none;
}
@media (max-width: 767px) {
  .btn-mobile-nav-open {
    display: block;
  }
}

.mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: #041F31;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}
.mobile-nav--open {
  opacity: 1;
  pointer-events: all;
}

.mobile-nav__header {
  padding: 40px 0;
  display: flex;
  justify-content: flex-end;
}

.mobile-nav__body .nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.modal__body {
  width: 450px;
  border-radius: 40px !important;
  background-color: #041F31 !important;
  color: #BDEBEA !important;
  display: none;
}
@media (max-width: 767px) {
  .modal__body {
    width: 330px;
  }
}

@media (max-width: 767px) {
  .modal__socials .socials__list {
    gap: 30px;
  }
}

.modal__header {
  margin-bottom: 30px;
  text-align: center;
}

.modal__title {
  font-size: 36px;
  font-weight: 600;
}

.modal__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.modal__inputs input {
  padding: 15px;
  border: 2px solid #f0d1d1;
  border-radius: 15px;
}
.modal__inputs input::-moz-placeholder {
  color: #ffffff;
}
.modal__inputs input::placeholder {
  color: #ffffff;
}

.modal__btn {
  margin-bottom: 30px;
  text-align: center;
}

.modal__checkbox-label {
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.real-checkbox:checked + .fake-checkbox {
  background-color: #439be4;
  border: 1px solid #000;
}

.fake-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.fake-checkbox::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in;
  width: 16px;
  height: 13px;
  background-image: url("./../../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.real-checkbox:checked + .fake-checkbox::after {
  transform: translate(-50%, -50%) scale(1);
}

.top-link {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 24px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}
.top-link--visible {
  opacity: 1;
  pointer-events: all;
}
@media (max-width: 767px) {
  .top-link {
    right: 10px;
    bottom: 20px;
    width: 50px;
    height: 50px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 260px;
}
@media (max-width: 1129px) {
  .main {
    gap: 130px;
  }
}

.promo__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1129px) {
  .promo__row {
    flex-direction: column;
    text-align: center;
  }
}

.promo__speciality {
  margin-bottom: 10px;
  font-size: 20px;
}

.promo__title {
  margin-bottom: 10px;
}

.promo__desc {
  margin-bottom: 30px;
  line-height: 1.6;
}
@media (max-width: 1129px) {
  .promo__desc {
    line-height: 2;
  }
}

.promo__img {
  flex-shrink: 0;
}

.about {
  scroll-margin-top: 30px;
}

.about__title {
  margin-bottom: 20px;
}

.about__desc {
  padding-left: 10px;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  border-left: 3px solid #00d9f5;
  border-radius: 10px;
}

.projects {
  scroll-margin-top: 30px;
}

.projects__title {
  margin-bottom: 32px;
}
@media (max-width: 1129px) {
  .projects__title {
    text-align: center;
  }
}

.projects__cards {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
@media (max-width: 1129px) {
  .projects__cards {
    justify-content: center;
  }
}

.projects__button {
  text-align: center;
}

.card {
  width: 520px;
  background-color: #222525;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .card {
    width: 300px;
  }
}

.card__img {
  border-radius: 10px;
  width: 100%;
}

.card__body {
  padding: 25px 20px;
}

.card__title {
  margin-bottom: 10px;
}

.card__list {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.12em;
  color: #1f2626;
}

.card__list-item {
  padding: 8px 16px;
  border-radius: 4px;
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
}

.card__desc {
  line-height: 1.5;
  letter-spacing: 0.04em;
}
@media (max-width: 767px) {
  .card__desc {
    font-size: 14px;
  }
}

.card-modal {
  width: 700px;
  border-radius: 20px !important;
  background-color: #222525 !important;
}
.card-modal .card {
  width: 100%;
  border-radius: 0;
}
.card-modal .card__img {
  border-radius: 5px;
}
.card-modal .card__desc {
  color: #BDEBEA;
}
@media (max-width: 1129px) {
  .card-modal {
    width: 550px;
  }
}

.skills {
  margin-bottom: 260px;
  scroll-margin-top: 30px;
}
@media (max-width: 1129px) {
  .skills {
    margin-bottom: 130px;
  }
}

.skills__title {
  margin-bottom: 50px;
}
@media (max-width: 1129px) {
  .skills__title {
    text-align: center;
  }
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}
@media (max-width: 1129px) {
  .skills__list {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .skills__list {
    gap: 70px;
  }
}

.skills__list-item {
  text-align: center;
}
.skills__list-item img {
  margin-bottom: 20px;
}
.skills__list-item p {
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.footer {
  margin-bottom: 20px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.socials__list {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.socials__list-item {
  text-align: center;
}
.socials__list-item img {
  margin-bottom: 10px;
}
.socials__list-item a {
  color: #bdebea;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.footer__copyright {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}/*# sourceMappingURL=main.css.map */