.header {
    margin-bottom: 90px;

    @include tablet {
        margin-bottom: 60px;
    }

    @include mobile {
        margin-bottom: 30px;
        ;
    }
}

.header__row {
    padding: 40px 0;
    display: flex;
    justify-content: center;

    @include mobile {
        justify-content: flex-end;
    }
}

.ham-menu {
    display: none;

    width: 50px;
    height: 50px;
    position: relative;
    margin-left: auto;

    @include mobile {
        display: block;
    }

    span {
        height: 5px;
        width: 100%;
        background-color: #6f86ff;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in;
    }

    & span:nth-child(1) {
        top: 25%;

    }

    & span:nth-child(3) {
        top: 75%;

    }

    &.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &.active span:nth-child(2) {
        opacity: 0;
    }

    &.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

}