.nav {
    @include tablet {
        padding: 20px;
    }

    @include mobile {
        display: none;
    }

    &--footer {
        display: block;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    @include tablet {
        gap: 60px;
    }

    @include mobile {
        gap: 20px;
    }
}

.nav__list-link {
    padding-bottom: 3px;
    position: relative;

    font-weight: 500;
    color: #BDEBEA;
    white-space: nowrap;

    &:hover {
        opacity: 0.8;
    }

    &::after {
        position: absolute;
        content: '';
        left: 50%;
        bottom: 0;

        display: block;
        width: 0;
        height: 1px;
        transform: translateX(-50%);

        background: #ffffff;
        transition: 0.4s;
    }

    &:hover::after {
        width: 100%;
    }

    @include mobile {
        font-size: 14px;
        font-weight: 400;
    }
}

.btn-mobile-nav-open {
    display: none;

    @include mobile {
        display: block;
    }
}