.nav {
    @include tablet {
        padding: 20px;
    }

    @include mobile {
        display: none;
    }

    &--footer {
        display: block;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    @include tablet {
        gap: 60px;
    }

    @include mobile {
        gap: 20px;
    }
}

.nav__list-link {
    font-weight: 500;
    color: #BDEBEA;
    white-space: nowrap;

    @include mobile {
        font-size: 14px;
        font-weight: 400;
    }
}

.btn-mobile-nav-open {
    display: none;

    @include mobile {
        display: block;
    }
}