.about {
    scroll-margin-top: 30px;
}

.about__title {
    margin-bottom: 20px;
}

.about__desc {
    padding-left: 10px;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    border-left: 3px solid #00d9f5;
    border-radius: 10px;
}