@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600);

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #041F31;
    color: #BDEBEA;
}

.no-scroll {
    overflow-y: hidden;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.none {
    display: none !important;
}